* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height: 645px;
    height: 100%;
    width: auto;
    font-family: 'Bitter', serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
    height: 100vh;
    flex-wrap: wrap;
    background: url(../images/bg.jpg) center;
    padding-top: 3vh;
}

.btn, .star, .remove, .submit {
    font-weight: bolder;
    margin:10px 40px;	
    padding: 8px 12px;
    box-shadow: inset 0pt 0pt 12pt;
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(255, 0, 0, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.btn:hover, .star:hover, .remove:hover, .submit:hover {
    color:rgba(255, 255, 255, 1);
	background-color:rgb(255, 0, 0);
	background-position: -100% 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 5;
    max-height: 100vh; 
    width: 100%;
}

.header {
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh;
    font-size: 2em;
    background: url(../images/header.png); 
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
    overflow-x: hidden;
    justify-content: space-evenly;
    background: url(../images/star.png) center;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.gifs {
    border: 1pt outset;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    box-shadow: 0pt 0pt 10pt;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: url(../images/header.png); 
}

.fav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: fit-content;
    border: 3pt outset;
}

.textBox, .favTextBox {
    text-align: center;
    padding: 20px;
    background:url(../images/background.jpg);
}

.rating {
    font-size: 2em;
}

.title {
    font-size: 1em;
}

.rating, .title {
    border-bottom: 1pt solid;
    margin-bottom: 10px;
}

.start {
    background: url(../images/header.png);
    height: 50vh;
    width: 50vw;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    margin-top: 50px;
    border-radius: 25%;
    font-size: 2em;
}

.fa-smile, i.show {
    margin-top: 25px;
}

#form {
    padding: 15px;
    background: url(../images/images.jpg);
    border: 2pt solid;
}

label {
    font-size: 20px;
    border-bottom: 3pt solid;
}

.user-input {
    box-shadow: 0pt 0pt 8pt black;
}
