* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height: 645px;
    height: 100%;
    width: auto;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    border-right: 1pt solid black;
    height: 100vh;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 5;
    max-height: 100vh; 
    width: 100%;
}


.header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: 1pt solid black;
    padding: 5vh;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
    overflow-x: hidden;
    justify-content: space-evenly;
}
::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.gifs {
    border: 1pt outset;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 30vw;
}



.rating  {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer {
    border-top: 1pt solid black;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#form {
    margin-top: 2vh;
}

