* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 95vh;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    border-right: 1pt solid black;
    height: 100vh;
}

.btn {
    width: 10vw;
    margin-left: 3.3vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: 1pt solid black;
    margin-top: 5vh;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
    overflow-x: hidden;
    justify-content: space-evenly;
}

.rating {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.footer {
    height: 10vh;
    border-top: 1pt solid black;
    display: flex;
    justify-content: center;
}

#form {
    margin-top: 2vh;
}

